In [5]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
tele_df = pd.read_csv('bank_telemarketing.csv')
tele_df.head()

,Age,Job,Marital_Status,Education,Default_Credit,Housing_Loan,Personal_Loan,Subscribed
0,56,other,married,Primary_Education,no,no,no,no
1,37,services,married,Secondary_Education,no,yes,no,no
2,40,admin,married,Primary_Education,no,no,no,no
3,56,services,married,Secondary_Education,no,no,yes,no
4,59,admin,married,Professional_Education,no,no,no,no

In [6]:
# Generate our categorical variable list
tele_cat = tele_df.dtypes[tele_df.dtypes == "object"].index.tolist()


# Check the number of unique values in each column
tele_df[tele_cat].nunique()

Job               9
Marital_Status    3
Education         4
Default_Credit    2
Housing_Loan      2
Personal_Loan     2
Subscribed        2
dtype: int64

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(tele_df[tele_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(tele_cat)
encode_df.head()

,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,Marital_Status_divorced,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [8]:
# Merge one-hot encoded features and drop the originals
tele_df = tele_df.merge(encode_df,left_index=True, right_index=True)
tele_df = tele_df.drop(tele_cat,1)
tele_df.head()

<ipython-input-8-32f23930b0f3>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  tele_df = tele_df.drop(tele_cat,1)

,Age,Job_admin,Job_blue-collar,Job_entrepreneur,Job_management,Job_other,Job_retired,Job_self-employed,Job_services,Job_technician,...,Education_Secondary_Education,Education_Tertiary_Education,Default_Credit_no,Default_Credit_yes,Housing_Loan_no,Housing_Loan_yes,Personal_Loan_no,Personal_Loan_yes,Subscribed_no,Subscribed_yes
0,56,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,37,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,56,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,59,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [9]:
# Remove loan status target from features data
y = tele_df.Subscribed_yes.values
X = tele_df.drop(columns=["Subscribed_no","Subscribed_yes"]).values

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [10]:
# Create the SVM model
svm = SVC(kernel='linear')

In [11]:
# Train the model
svm.fit(X_train, y_train)

SVC(kernel='linear')

In [12]:
# Evaluate the model
y_pred = svm.predict(X_test_scaled)
print(f" SVM model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 SVM model accuracy: 0.873

In [13]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  10
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model 
fit_model = nn.fit(X_train_scaled, y_train, epochs=50) 
# Evaluate the model using the test data 
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
715/715 [==============================] - 1s 684us/step - loss: 0.4486 - accuracy: 0.8278
Epoch 2/50
715/715 [==============================] - 0s 677us/step - loss: 0.3746 - accuracy: 0.8730
Epoch 3/50
715/715 [==============================] - 0s 653us/step - loss: 0.3707 - accuracy: 0.8733
Epoch 4/50
715/715 [==============================] - 0s 668us/step - loss: 0.3690 - accuracy: 0.8735
Epoch 5/50
715/715 [==============================] - 0s 676us/step - loss: 0.3677 - accuracy: 0.8732
Epoch 6/50
715/715 [==============================] - 0s 678us/step - loss: 0.3665 - accuracy: 0.8735
Epoch 7/50
715/715 [==============================] - 0s 670us/step - loss: 0.3660 - accuracy: 0.8734
Epoch 8/50
715/715 [==============================] - 0s 673us/step - loss: 0.3653 - accuracy: 0.8732
Epoch 9/50
715/715 [==============================] - 0s 643us/step - loss: 0.3650 - accuracy: 0.8739
Epoch 10/50
715/715 [==============================] - 0s 648us/step - loss: 0.3645 - accuracy: 0.8735
Epoch 11/50
715/715 [==============================] - 0s 646us/step - loss: 0.3644 - accuracy: 0.8733
Epoch 12/50
715/715 [==============================] - 0s 668us/step - loss: 0.3639 - accuracy: 0.8736
Epoch 13/50
715/715 [==============================] - 0s 643us/step - loss: 0.3639 - accuracy: 0.8738
Epoch 14/50
715/715 [==============================] - 0s 671us/step - loss: 0.3637 - accuracy: 0.8736
Epoch 15/50
715/715 [==============================] - 0s 665us/step - loss: 0.3636 - accuracy: 0.8740
Epoch 16/50
715/715 [==============================] - 0s 670us/step - loss: 0.3635 - accuracy: 0.8737
Epoch 17/50
715/715 [==============================] - 1s 1ms/step - loss: 0.3630 - accuracy: 0.8735
Epoch 18/50
715/715 [==============================] - 1s 837us/step - loss: 0.3630 - accuracy: 0.8739
Epoch 19/50
715/715 [==============================] - 1s 937us/step - loss: 0.3632 - accuracy: 0.8736
Epoch 20/50
715/715 [==============================] - 0s 678us/step - loss: 0.3628 - accuracy: 0.8739
Epoch 21/50
715/715 [==============================] - 0s 650us/step - loss: 0.3629 - accuracy: 0.8741
Epoch 22/50
715/715 [==============================] - 0s 653us/step - loss: 0.3626 - accuracy: 0.8739
Epoch 23/50
715/715 [==============================] - 0s 656us/step - loss: 0.3627 - accuracy: 0.8738
Epoch 24/50
715/715 [==============================] - 0s 684us/step - loss: 0.3625 - accuracy: 0.8739
Epoch 25/50
715/715 [==============================] - 0s 660us/step - loss: 0.3624 - accuracy: 0.8737
Epoch 26/50
715/715 [==============================] - 0s 652us/step - loss: 0.3624 - accuracy: 0.8736
Epoch 27/50
715/715 [==============================] - 0s 688us/step - loss: 0.3625 - accuracy: 0.8735
Epoch 28/50
715/715 [==============================] - 0s 680us/step - loss: 0.3622 - accuracy: 0.8739
Epoch 29/50
715/715 [==============================] - 0s 652us/step - loss: 0.3623 - accuracy: 0.8740
Epoch 30/50
715/715 [==============================] - 0s 658us/step - loss: 0.3623 - accuracy: 0.8740
Epoch 31/50
715/715 [==============================] - 0s 670us/step - loss: 0.3622 - accuracy: 0.8738
Epoch 32/50
715/715 [==============================] - 0s 685us/step - loss: 0.3622 - accuracy: 0.8740
Epoch 33/50
715/715 [==============================] - 0s 657us/step - loss: 0.3623 - accuracy: 0.8736
Epoch 34/50
715/715 [==============================] - 0s 653us/step - loss: 0.3620 - accuracy: 0.8740
Epoch 35/50
715/715 [==============================] - 0s 690us/step - loss: 0.3621 - accuracy: 0.8734
Epoch 36/50
715/715 [==============================] - 1s 717us/step - loss: 0.3619 - accuracy: 0.8733
Epoch 37/50
715/715 [==============================] - 0s 656us/step - loss: 0.3619 - accuracy: 0.8735
Epoch 38/50
715/715 [==============================] - 0s 670us/step - loss: 0.3621 - accuracy: 0.8738
Epoch 39/50
715/715 [==============================] - 0s 682us/step - loss: 0.3619 - accuracy: 0.8736
Epoch 40/50
715/715 [==============================] - 0s 677us/step - loss: 0.3619 - accuracy: 0.8736
Epoch 41/50
715/715 [==============================] - 0s 671us/step - loss: 0.3619 - accuracy: 0.8734
Epoch 42/50
715/715 [==============================] - 0s 674us/step - loss: 0.3620 - accuracy: 0.8739
Epoch 43/50
715/715 [==============================] - 0s 681us/step - loss: 0.3618 - accuracy: 0.8736
Epoch 44/50
715/715 [==============================] - 0s 688us/step - loss: 0.3617 - accuracy: 0.8738
Epoch 45/50
715/715 [==============================] - 0s 692us/step - loss: 0.3618 - accuracy: 0.8737
Epoch 46/50
715/715 [==============================] - 0s 671us/step - loss: 0.3618 - accuracy: 0.8736
Epoch 47/50
715/715 [==============================] - 0s 694us/step - loss: 0.3616 - accuracy: 0.8741
Epoch 48/50
715/715 [==============================] - 0s 697us/step - loss: 0.3619 - accuracy: 0.8735
Epoch 49/50
715/715 [==============================] - 1s 713us/step - loss: 0.3617 - accuracy: 0.8731
Epoch 50/50
715/715 [==============================] - 0s 680us/step - loss: 0.3617 - accuracy: 0.8738
239/239 - 0s - loss: 0.3686 - accuracy: 0.8723
Loss: 0.3685781955718994, Accuracy: 0.872309684753418

In [15]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
loans_df = pd.read_csv('loan_status.csv')
loans_df.head()

,Loan_Status,Current_Loan_Amount,Term,Credit_Score,Annual_Income,Years_in_current_job,Home_Ownership,Purpose,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,Bankruptcies,Tax_Liens
0,Fully_Paid,99999999,Short_Term,741.0,2231892.0,8_years,Own_Home,Debt_Consolidation,29200.53,14.9,29.0,18,1,297996,750090.0,0.0,0.0
1,Fully_Paid,217646,Short_Term,730.0,1184194.0,<_1_year,Home_Mortgage,Debt_Consolidation,10855.08,19.6,10.0,13,1,122170,272052.0,1.0,0.0
2,Fully_Paid,548746,Short_Term,678.0,2559110.0,2_years,Rent,Debt_Consolidation,18660.28,22.6,33.0,4,0,437171,555038.0,0.0,0.0
3,Fully_Paid,99999999,Short_Term,728.0,714628.0,3_years,Rent,Debt_Consolidation,11851.06,16.0,76.0,16,0,203965,289784.0,0.0,0.0
4,Fully_Paid,99999999,Short_Term,740.0,776188.0,<_1_year,Own_Home,Debt_Consolidation,11578.22,8.5,25.0,6,0,134083,220220.0,0.0,0.0

In [16]:
# Generate our categorical variable list
loans_cat = loans_df.dtypes[loans_df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
loans_df[loans_cat].nunique()

Loan_Status              2
Term                     2
Years_in_current_job    11
Home_Ownership           4
Purpose                  7
dtype: int64

In [17]:
# Check the unique value counts to see if binning is required
loans_df.Years_in_current_job.value_counts()

10+_years    13149
2_years       3225
3_years       2997
<_1_year      2699
5_years       2487
4_years       2286
1_year        2247
6_years       2109
7_years       2082
8_years       1675
9_years       1467
Name: Years_in_current_job, dtype: int64

In [18]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(loans_df[loans_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(loans_cat)
encode_df.head()

,Loan_Status_Fully_Paid,Loan_Status_Not_Paid,Term_Long_Term,Term_Short_Term,Years_in_current_job_10+_years,Years_in_current_job_1_year,Years_in_current_job_2_years,Years_in_current_job_3_years,Years_in_current_job_4_years,Years_in_current_job_5_years,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
# Merge one-hot encoded features and drop the originals
loans_df = loans_df.merge(encode_df,left_index=True, right_index=True)
loans_df = loans_df.drop(loans_cat,1)
loans_df.head()

<ipython-input-19-1496906ade04>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  loans_df = loans_df.drop(loans_cat,1)

,Current_Loan_Amount,Credit_Score,Annual_Income,Monthly_Debt,Years_of_Credit_History,Months_since_last_delinquent,Number_of_Open_Accounts,Number_of_Credit_Problems,Current_Credit_Balance,Maximum_Open_Credit,...,Home_Ownership_Home_Mortgage,Home_Ownership_Own_Home,Home_Ownership_Rent,Purpose_Business_Loan,Purpose_Buy_House,Purpose_Buy_a_Car,Purpose_Debt_Consolidation,Purpose_Home_Improvements,Purpose_Medical_Bills,Purpose_Other
0,99999999,741.0,2231892.0,29200.53,14.9,29.0,18,1,297996,750090.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,217646,730.0,1184194.0,10855.08,19.6,10.0,13,1,122170,272052.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,548746,678.0,2559110.0,18660.28,22.6,33.0,4,0,437171,555038.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,99999999,728.0,714628.0,11851.06,16.0,76.0,16,0,203965,289784.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,99999999,740.0,776188.0,11578.22,8.5,25.0,6,0,134083,220220.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [20]:
# Remove loan status target from features data
y = loans_df.Loan_Status_Fully_Paid
X = loans_df.drop(columns=["Loan_Status_Fully_Paid","Loan_Status_Not_Paid"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [21]:
### RANDOM FOREST
### CREATING THE RANDOM FOREST CLASSIFIER AND THEN TRAINNING THE MODEL
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.849

In [22]:
### DEEP LEARNING MODE
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
854/854 [==============================] - 1s 674us/step - loss: 0.4404 - accuracy: 0.8214
Epoch 2/50
854/854 [==============================] - 1s 639us/step - loss: 0.3867 - accuracy: 0.8491
Epoch 3/50
854/854 [==============================] - 1s 675us/step - loss: 0.3827 - accuracy: 0.8493
Epoch 4/50
854/854 [==============================] - 1s 646us/step - loss: 0.3801 - accuracy: 0.8496
Epoch 5/50
854/854 [==============================] - 1s 645us/step - loss: 0.3791 - accuracy: 0.8495
Epoch 6/50
854/854 [==============================] - 1s 668us/step - loss: 0.3779 - accuracy: 0.8493
Epoch 7/50
854/854 [==============================] - 1s 646us/step - loss: 0.3765 - accuracy: 0.8496
Epoch 8/50
854/854 [==============================] - 1s 660us/step - loss: 0.3760 - accuracy: 0.8498
Epoch 9/50
854/854 [==============================] - 1s 665us/step - loss: 0.3751 - accuracy: 0.8497
Epoch 10/50
854/854 [==============================] - 1s 668us/step - loss: 0.3744 - accuracy: 0.8499
Epoch 11/50
854/854 [==============================] - 1s 651us/step - loss: 0.3737 - accuracy: 0.8494
Epoch 12/50
854/854 [==============================] - 1s 665us/step - loss: 0.3730 - accuracy: 0.8497
Epoch 13/50
854/854 [==============================] - 1s 658us/step - loss: 0.3725 - accuracy: 0.8501
Epoch 14/50
854/854 [==============================] - 1s 633us/step - loss: 0.3721 - accuracy: 0.8499
Epoch 15/50
854/854 [==============================] - 1s 638us/step - loss: 0.3719 - accuracy: 0.8502
Epoch 16/50
854/854 [==============================] - 1s 638us/step - loss: 0.3713 - accuracy: 0.8502
Epoch 17/50
854/854 [==============================] - 1s 664us/step - loss: 0.3710 - accuracy: 0.8502
Epoch 18/50
854/854 [==============================] - 1s 699us/step - loss: 0.3704 - accuracy: 0.8504
Epoch 19/50
854/854 [==============================] - 1s 703us/step - loss: 0.3701 - accuracy: 0.8502
Epoch 20/50
854/854 [==============================] - 1s 684us/step - loss: 0.3699 - accuracy: 0.8502
Epoch 21/50
854/854 [==============================] - 1s 726us/step - loss: 0.3697 - accuracy: 0.8499
Epoch 22/50
854/854 [==============================] - 1s 653us/step - loss: 0.3690 - accuracy: 0.8501
Epoch 23/50
854/854 [==============================] - 1s 674us/step - loss: 0.3689 - accuracy: 0.8506
Epoch 24/50
854/854 [==============================] - 1s 645us/step - loss: 0.3680 - accuracy: 0.8512
Epoch 25/50
854/854 [==============================] - 1s 646us/step - loss: 0.3677 - accuracy: 0.8509
Epoch 26/50
854/854 [==============================] - 1s 646us/step - loss: 0.3672 - accuracy: 0.8510
Epoch 27/50
854/854 [==============================] - 1s 674us/step - loss: 0.3668 - accuracy: 0.8517
Epoch 28/50
854/854 [==============================] - 1s 643us/step - loss: 0.3666 - accuracy: 0.8515
Epoch 29/50
854/854 [==============================] - 1s 651us/step - loss: 0.3661 - accuracy: 0.8520
Epoch 30/50
854/854 [==============================] - 1s 677us/step - loss: 0.3657 - accuracy: 0.8526
Epoch 31/50
854/854 [==============================] - 1s 672us/step - loss: 0.3652 - accuracy: 0.8517
Epoch 32/50
854/854 [==============================] - 1s 661us/step - loss: 0.3649 - accuracy: 0.8524
Epoch 33/50
854/854 [==============================] - 1s 657us/step - loss: 0.3648 - accuracy: 0.8523
Epoch 34/50
854/854 [==============================] - 1s 678us/step - loss: 0.3643 - accuracy: 0.8523
Epoch 35/50
854/854 [==============================] - 1s 654us/step - loss: 0.3647 - accuracy: 0.8516
Epoch 36/50
854/854 [==============================] - 1s 657us/step - loss: 0.3641 - accuracy: 0.8529
Epoch 37/50
854/854 [==============================] - 1s 660us/step - loss: 0.3636 - accuracy: 0.8521
Epoch 38/50
854/854 [==============================] - 1s 682us/step - loss: 0.3634 - accuracy: 0.8522
Epoch 39/50
854/854 [==============================] - 1s 665us/step - loss: 0.3631 - accuracy: 0.8529
Epoch 40/50
854/854 [==============================] - 1s 660us/step - loss: 0.3629 - accuracy: 0.8524
Epoch 41/50
854/854 [==============================] - 1s 668us/step - loss: 0.3625 - accuracy: 0.8519
Epoch 42/50
854/854 [==============================] - 1s 672us/step - loss: 0.3622 - accuracy: 0.8521
Epoch 43/50
854/854 [==============================] - 1s 663us/step - loss: 0.3619 - accuracy: 0.8523
Epoch 44/50
854/854 [==============================] - 1s 675us/step - loss: 0.3614 - accuracy: 0.8526
Epoch 45/50
854/854 [==============================] - 1s 670us/step - loss: 0.3613 - accuracy: 0.8528
Epoch 46/50
854/854 [==============================] - 1s 670us/step - loss: 0.3610 - accuracy: 0.8531
Epoch 47/50
854/854 [==============================] - 1s 666us/step - loss: 0.3605 - accuracy: 0.8529
Epoch 48/50
854/854 [==============================] - 1s 683us/step - loss: 0.3608 - accuracy: 0.8532
Epoch 49/50
854/854 [==============================] - 1s 665us/step - loss: 0.3604 - accuracy: 0.8535
Epoch 50/50
854/854 [==============================] - 1s 659us/step - loss: 0.3603 - accuracy: 0.8532
285/285 - 0s - loss: 0.3944 - accuracy: 0.8441
Loss: 0.39440107345581055, Accuracy: 0.8440588712692261

In [23]:
# Again, if we compare both model's predictive accuracy, their output is very similar. 
# Both the random forest and deep learning models were able to predict correctly whether or not a loan will be repaid over 80% of the time. Although their predictive performance was comparable, their implementation and training times were not—the random forest classifier was able to train on the large dataset and predict values in seconds, while the deep learning model required a couple minutes to train on the tens of thousands of data points. In other words, the random forest model is able to achieve comparable predictive accuracy on large tabular data with less code and faster performance. The ultimate decision of whether to use a random forest versus a neural network comes down to preference. However, if your dataset is tabular, random forest is a great place to start.